<app-menu></app-menu>

<div style="height: 20px;"></div>

<div style="width:20%;text-align: center;margin-left: 40%;margin-top: 2%;">

  <form [formGroup]="nadmorskaForm">
    <div class="mb-3">
      <label for="nadmorska_visinaInput" class="form-label">NADMORSKA VISINA</label>
      <input type="text" formControlName="nadmorska_visina" class="form-control" id="nadmorska_visinaInput">
    </div>


    <div class="form-group">
      <label for="polozaj_terenaInput" class="form-label">POLOZAJ TERENA</label>
      <select formControlName="polozaj_terena" class="form-control" id="polozaj_terenaInput">
        <option *ngFor="let tip of polozaj" [value]="tip">{{tip}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" (click)="ocena()" style="margin-top: 1em;">OCENA</button>

    <div style="height: 20px;"></div>

    <div class="form-group">
      <label for="ocenaInput">OCENA</label>
      <input type="text" formControlName="ocena" class="form-control" id="ocenaInput">
    </div>

  </form>

</div>